<ion-header>
    <ion-navbar>
        <ion-title>Signature</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <button ion-button full color="light" (click)="drawClear()">Clear</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button full color="secondary" (click)="drawComplete()">Done</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <hr>

    <ion-grid>
        <ion-row>
            <img [src]="converted_image" alt="Select Image" />
        </ion-row>
    </ion-grid>
</ion-content>